/* Theme colors */

:root {
    --logo_and_title_height: 9rem;

    --right-part-bg: #f9fafb;
    --disclaimer-text-clr: #000;
    --form-bg: white;
    --form-text-clr: #1f2937;

    --button-clr-idle: #596d48;
    --button-clr-hover: #687e55;
    --button-clr-active: #4e5f3e;

    --invalid-input-clr: #bf2f2f;
    --valid-input-clr: #6fbd2b;
    --focus-input-clr: #5177e1;
}

/* General layout */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    ;
}

main {
    display: flex;
    height: 100vh;
}

/* Layout of the left half of the page */

.left-half {
    position: relative;
    flex: 8;
    height: auto;
    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.logo_and_title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: var(--logo_and_title_height);
    top: 20vh;
    font-size: calc(var(--logo_and_title_height) / 3.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    --h1_outset: 7vw;
    display: inline-block;
    width: var(--h1_outset);
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    width: calc(var(--logo_and_title_height) - 2.5rem);
    height: calc(var(--logo_and_title_height) - 2.5rem);
    right: var(--h1_outset);

    background: url('images/odin-lined.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.left-half a {
    color: white;
}

/* Layout of the right half of the page */

.right-half {
    background-color: var(--right-part-bg);
    flex: 12;
    height: auto;

    display: flex;
    flex-direction: column;
}

.right-half>* {
    flex: 1;
}

/* Top section layout */

.disclaimer {
    font-weight: 900;
    padding: 5vh max(5%) 0;
    color: var(--disclaimer-text-clr);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: max(1rem);
}

.disclaimer p {
    width: 80%;
    font-size: 1.4rem;
}

/* Form layout */

form {
    background-color: var(--form-bg);
    color: var(--form-text-clr);
    box-shadow: 0 6px 20px 0px #ddd;
    padding: 2rem;
}

h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
}

form>div {
    display: flex;
    flex-wrap: wrap;
    gap: max(4rem);
}

form>div>div {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    width: 30%;
}

label[class='required'] {
    letter-spacing: 0.3ch;
    font-size: 1.3rem;
}

label::before {
    content: '*';
    color: var(--invalid-input-clr);
}

input {
    height: 1.5rem;
    width: 100%;
    appearance: none;
    outline: none;
    border: 1px solid grey;
}

/* Bottom section layout */

.submition_area {
    padding: 2rem;
}

button[type='submit'] {
    width: max(13rem);
    height: max(3.5rem);
    margin-bottom: 1rem;

    color: white;
    font-weight: bold;
    font-size: 1.1rem;

    background-color: var(--button-clr-idle);

    border-radius: 8px;
    border: none;
    box-shadow: 2px 6px 10px 0px #ccc;
}

.submition_area p {
    font-size: 1.1rem;
}

.submition_area a {
    color: var(--button-clr-idle);
    text-decoration: none;
}

/* Pseudoclasses */

input:focus {
    border: 1px solid var(--focus-input-clr)
}

input:required:focus:invalid {
    border: 1px solid var(--invalid-input-clr);
}

input:required:focus:valid {
    border: 1px solid var(--valid-input-clr);
}

button:hover {
    background-color: var(--button-clr-hover);
}

button:active {
    background-color: var(--button-clr-active);
    box-shadow: 2px 6px 5px 0px #ccc;
}

.submition_area a:hover {
    color: var(--button-clr-hover);
}

.submition_area a:active {
    color: var(--button-clr-active);
}

/* Media queries */

@media (max-width: 1200px) {
    :root {
        --logo_and_title_height: 8rem;
    }

    .logo_and_title {
        font-size: calc(var(--logo_and_title_height) / 4);
    }

    h1::before {
        width: calc(var(--logo_and_title_height) - 3rem);
        height: calc(var(--logo_and_title_height) - 3rem);
    }

    .disclaimer {
        padding: 2vh max(5%) 0;
    }

    .disclaimer p {
        font-size: 1.4rem;
    }

    form>div>div {
        width: 40%;
        margin: 0;
    }
}

@media (max-width: 800px) {
    :root {
        --logo_and_title_height: 6.5rem;
    }

    h1::before {
        width: calc(var(--logo_and_title_height) - 2rem);
        height: calc(var(--logo_and_title_height) - 2rem);
    }

    .disclaimer p {
        font-size: 1.3rem;
        width: 100%;
    }

    label[class='required'] {
        font-size: 0.8rem;
    }

    input {
        height: 1.4rem;
    }

    button[type='submit'] {
        font-size: 1.3rem;
    }

    .submition_area p {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    :root {
        --logo_and_title_height: 8vh;
    }

    h1 {
        position: relative;
        right: 19%;
    }

    h1::before {
        visibility: hidden;
    }

    .left-half,
    .right-half {
        width: 50vw;
    }

    .left-half p {
        font-size: 0.6rem;
    }

    .disclaimer {
        padding: 1rem;
    }

    .disclaimer p {
        font-size: 0.9rem;
        width: 100%;
    }

    h2 {
        font-size: 1.2rem;
    }

    form>div {
        gap: 1rem;
    }

    form>div>div {
        width: 100%;
    }

    label[class='required'] {
        font-size: 0.8rem;
    }

    .submition_area {
        padding: 3vh;
    }

    button[type='submit'] {
        margin-top: 0rem;
        width: 8rem;
        height: 2rem;
        font-size: 0.8rem;
    }

    .submition_area p {
        font-size: 0.7rem;
    }

}